<mat-nav-list class="global-nav">
  
        <div class="sidenav-icon" [routerLinkActive]="'active'" [routerLink]="['/private/prj/project']">
          
           Projets
        </div>
        
        <div class="sidenav-icon" [routerLinkActive]="'active'" [routerLink]="['/private/prj/departments']">
          
           Départements
        </div>
           
        <div class="sidenav-icon" [routerLinkActive]="'active'" [routerLink]="['/private/prj/collab']">
          
          Collaborateurs
       </div>
       <div class="sidenav-icon" [routerLinkActive]="'active'" [routerLink]="['/private/prj/space-work']">
          
        Espace de travail
     </div>
</mat-nav-list>
